<p style="color: antiquewhite">helo</p>

<fieldset class="container" style="border-color: indianred;  border-radius: 25px; background-color: burlywood; height: 40px">
  <h5  class="card-title" style="text-align: center; font-family: 'Adobe Garamond Pro Bold', fantasy; font-size: xxx-large; color: indianred">Event Schedule</h5>
</fieldset>
<div class="CalendarButton">
  <i class="fa fa-calendar fa-10x"  routerLink="/ShowEvent"></i>
</div>
<p style="color: whitesmoke">works</p>
<div class="container">
  <full-calendar [options]="calendarOptions" ></full-calendar>
</div>
